POSTGRES_USER=aurora
POSTGRES_PASSWORD=change-me
POSTGRES_DB=aurorapay
POSTGRES_PORT=5432

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_PORT=8081

# Docker Compose (internal network DNS names)
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
KEYCLOAK_ISSUER_URI=http://host.docker.internal:8081/realms/aurorapay